[user]
	email = taiki.kawagishi.private@gmail.com
	name = taiki1280
[init]
	defaultBranch = main
[alias]
	tree = log --graph --oneline
	treeall = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
[pager]
	log = false
	branch = false
[core]
	editor = code --wait
